<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Nice Kittens</title>
</head>
<body>
{{#kitten}}
    <hgroup>
        <h1>Kitten '{{name}}'</h1>
    </hgroup>
    <section>
        <header>
            <img src="{{imagePath}}">
            <h2>Age: {{age}}</h2>
            <h2>Type: {{type}}</h2>
        </header>
    </section>
{{/kitten}}
</body>
</html>
